#list_content_all {
	max-width: 1200px;
	margin:0 auto;
	padding:6em 0;
}
#list_content_all a{
	color:#333;
}
.daynews article {
    padding: 0px 8px 5px 10px;
    margin: 0 0 0 15px;
    border-left: solid 2px #F4F4F4;
}
.daynews article h3 {
    font-size: 14px;
    line-height: 1em;
    padding: 0 5px 0 0;
    margin: 0;
    font-weight: 400;
    color: #9A9A9A;
    position: relative;
}
.daynews article h3 em {
    display: block;
    position: absolute;
    line-height: 0;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #f93;
    left: -19px;
    border: solid 2px #FFF;
}
.daynews article section {
    font-size: 16px;
    line-height: 1.5em;
    color: black;
    padding: 25px 5px;
}
section p.text_show {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    margin: 5px 5px 5px 0;
}
section p.text_show .text_show_title {
    font-weight: bold;
    margin-left: -6px;
}
/*公告详情*/
.f_wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;

}
.infoMod_bulletin {
    background-color: #f9f9f9;
    padding: 100px 150px 0;
}
.msgContainer {
/*    background-color: #fff;*/
}
.msgContainer .breadcrumb {
    font-size: 12px;
    color: #333;
    background: none;
    padding: 12px 20px;
    border-radius: 0.25rem;
    list-style: none;
    overflow: hidden;
}
.msgContainer .breadcrumb {
    font-size: 12px;
    color: #333;
    background: none;
    padding: 12px 20px;
    border-radius: 0.25rem;
    list-style: none;
    overflow: hidden;
}
.page_bulletin .msgContainer .msgHd {
    padding: 30px 0;
    margin: 0 25px;
    text-align: center;
}
.page_bulletin .msgContainer .msgHd .msgTitle {
    font-size: 24px;
    color: #666;
}
.msgContainer .msgHd .msgTime {
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}
.page_bulletin .msgContainer .msgBd {
    padding: 0 70px 45px;
    line-height: 1.6em;
    max-width: 700px;
    margin: 0 auto;
}
.msgContainer .msgFt {
    max-width: 890px;
    padding: 30px 0 55px;
    margin: 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}
.msgContainer .msgFt .nextLink {
    display: inline-block;
    text-align: right;
    color: #666;
}
.msgContainer .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    content: ">";
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #636c72;
}
@media(max-width:1200px){
  .infoMod_bulletin{
  	padding:100px 15px;
  }
}